.table {
    margin: auto;
    background-color: transparent;
}

.dropdown {
    margin: 15px;
}

.card {
    display: none;
}

#background-imgs {
    z-index: 0;
}

#container {
    z-index: 1;
}

body {
    background-size: cover;
}

.sexy_line {
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}
