.table {
    margin: auto;
    background-color: transparent;
}

.dropdown {
    margin: 15px;
}

.card {
    display: none;
}

#background-imgs {
    z-index: 0;
}

#container {
    z-index: 1;
}

body {
    background-size: cover;
}

.loading {
    font-size: 30px;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026";
    /* ascii code for the ellipsis character */
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
