<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="res/img/favicon.ico" type="image/x-icon">
    <title>Budget Brews Information</title>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../res/css/views/info.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="text-center">
        <img src="../res/img/logo.png" width="60%">
        <h3>Ethan Harlig</h3>
        <p class="sexy_line"></p>
    </div>

    <div class="pull-left" style="width:13em;">
        <ul>
            <li><a href="info.html">Introduction</a></li>
            <li><a href="interesting.html">Interesting Aspects</a></li>
            <li><a href="architecture.html">System Architecture</a></li>
            <li><a href="patterns.html">Design Patterns</a></li>
        </ul>
    </div>
    <div class="pull-right" style="width: 80%;">
        <p>Budget Brews<sup>TM</sup> is a website that crowdsources beer prices in San Luis Obispo, CA. Users can view the cheapest prices for 12-packs and 30-packs for each reported beer and also view their store and the time which that beer price was reported. <br>Users can create an account then log in, at which point they can subscribe to any beer to receive an email when that beer's price is reported to have changed. <br>Users who are logged in are also able to up-vote and down-vote posts to verify the validity of a price report. They can also view their profile page in which they will see their "reputation" which is calculated by the number of up-votes that they have received minus the number of down-votes they have received.</p>
    </div>
</body>

</html>