<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="res/img/favicon.ico" type="image/x-icon">
    <title>Budget Brews Information</title>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../res/css/views/info.css">
    <link rel="stylesheet" href="../res/css/sexyline.css">
    <link rel="stylesheet" href="../res/css/views.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            $("#sidebar").load("../res/html/sidebar.html");
        });
    </script>
</head>

<body background="../res/img/background.jpg">
    <div class="text-center">
        <img src="../res/img/logo.png" width="60%">
        <h3>Ethan Harlig</h3>
        <p class="sexy_line"></p>
    </div>

    <div id="sidebar" class="pull-left" style="width:13em;">
    </div>
    <div style="position: absolute; width:80%; margin-left: 13em;">
        <p>Budget Brews<sup>TM</sup> is a website that crowdsources beer prices in San Luis Obispo, CA. Users can view the cheapest prices for 12-packs and 30-packs for each reported beer and also view their store and the time which that beer price was reported. <br><br>Users can create an account then log in, at which point they can subscribe to any beer to receive an email when that beer's price is reported to have changed. <br><br>Users who are logged in are also able to upvote and downvote posts to verify the validity of a price report.</p>
    </div>
</body>

</html>
